lesson-2-homework-24.10.22/.secret.tfvars
lesson-2-homework-24.10.22/terraform/.terraform
lesson-2-homework-24.10.22/terraform/.terraform.lock.hcl
lesson-2-homework-24.10.22/terraform/.terraform.tfstate.lock.info
lesson-2-homework-24.10.22/terraform/terraform.tfstate
lesson-2-homework-24.10.22/terraform/terraform.tfstate.*
